<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Tryouts</title>
    <link rel="stylesheet" href="styles.css" />
    <!-- Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Vue Router -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- Vue Localization -->
    <script src="https://unpkg.com/vue-i18n@8"></script>
    <!-- Main -->
    <script src="localization.js"></script>
    <script src="main.js" defer></script>
  </head>
  <body>
    <div id="app">
      <h1>Hello {{ username || 'Beautyful' }}!</h1>
      <h1>{{ $t('message.hello_user', {user: username || 'User'}) }}!</h1>
      <!-- Language selector -->
      <div>
        <select v-model="$i18n.locale">
          <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">
            {{ lang }}
          </option>
        </select>
      </div>

      <p>{{ $d(new Date(), 'long') }}</p>
      <p>
        <!-- Vue Router -->
        <!-- use router-link component for navigation. -->
        <!-- specify the link by passing the `to` prop. -->
        <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
        <router-link to="/home">Home</router-link>
        <router-link to="/products">Products</router-link>

        <!-- Named views -->
        <router-view class="view one"></router-view>
        <router-view class="view two" name="a"></router-view>
        <router-view class="view three" name="b"></router-view>
      </p>
      <!-- route outlet -->
      <!-- component matched by the route will render here -->
      <!-- <router-view></router-view> -->
    </div>
  </body>
</html>
